# build outputs
.rebar/
rebar.cross_compile.config
_build/
config.tmp
*.pdb
*.beam
ebin/
priv/
.eunit/
doc/
sqlite3.plt
TEST*.xml
*.db
*.exp
*.lib
*.obj
*.dll
*.o
*.so
### Erlang template
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
rel/example_project
.concrete/DEV_MODE
.rebar
.idea/
c_src/*.d
sqlite3_amalgamation/*.d
rebar.lock
sqlite3.iml
