% -*- mode: erlang -*-
{plugins, [
  {pc, {git, "https://github.com/blt/port_compiler.git", {tag, "1.6.0"}}}
]}.

{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_specs, [{"priv/sqlite3_drv.so", ["c_src/*.c"]}]}.
{port_env, [{"DRV_CFLAGS", "$DRV_CFLAGS -Wall -Wextra -Wno-unused-parameter -Wstrict-prototypes"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS"}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
